body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.large-img{
    position: relative;
    height: 600px;
    width: 100%;
    background-image: url("../IMG/equsitive\ palour.jpg");
    background-position: center;
    background-size: cover;
    background-color: no-repeat;
    margin-bottom: 50px;
}


nav ul {
    list-style: none;
    padding-left: 34%;
    padding-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(108, 98, 98);
}

.bg-text{
    text-align: center;
    padding-top: 95px;
    font-weight: bold;
    font-size: 50px;
    color: #333;
}

.small-txt{
    width: 570px;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

.text1{
    text-align: center;
    padding-bottom: 70px;
    padding-left: 30%;
    width: 700px;
    height: 100px;
}

.subtext{
    font-size: 28px;
    font-weight: lighter;
    color: #363232c1;
}

.newtext{
    padding-left: 20px;
    color: #333;
}

.smalltxt{
    padding-left: 20px;
    font-size: 12px;
    color: #333;
}
.product-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@Media all and(max-width: 500px){
    
}